@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
* {
  scrollbar-width: thin;
  scrollbar-color: #4b756a #dcebe0;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
*::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #dcebe0;
}

*::-webkit-scrollbar-track:hover {
  background-color: #eeffef;
}

*::-webkit-scrollbar-track:active {
  background-color: #b6e1cb;
}

*::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #4b756a;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #83a376;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #75a374;
}
:root {
  --background: #f0f9f4;
  --primary: #dfe9df;
  --secondary: #d7f1ee;
  --accent: #2e7d32;
}

body {
  background-color: var(--background);
  width: 100%;
}

/* NAV SECTION */
.desktop-nav {
  box-shadow: var(--shadow);
  border: 2px solid rgb(153, 201, 185);
  visibility: visible;
  display: flex;
  background-color: rgba(184, 231, 213, 0.769);
  backdrop-filter: blur(10px);
  height: fit-content;
  width: 100%;
  z-index: 1000;
  padding: 5px 0;
  align-items: center;
  justify-content: space-around;
  position: fixed;

  & h1 {
    font-size: x-large;
  }
}

.nav-links {
  font-size: x-large;
  color: var(--text);
}

.mobile-nav {
  visibility: hidden;
}

.search-box-mobile {
  visibility: hidden;
  display: none;
}
.search-container {
  width: 400px;
  border-radius: 10px;
  overflow: hidden;
}

.search-box {
  display: flex;
  width: 100%;
  background: white;
  padding: 5px;
}

.search-button {
  color: #57735f;
  border: none;
  cursor: pointer;
  object-position: center;
  background-color: white;
  text-align: center;
  margin: 0 10px;
}

.search-icon {
  font-size: 20px; /* Ganti ukuran ikon sesuai kebutuhan */
}

input[type="search"] {
  width: 100%;
  padding: 2pxx;
  border: none;
  outline: none;
  border-bottom: 2px solid rgb(22, 102, 68);
}

/* Styling tambahan sesuai kebutuhan */

/* Styling tambahan sesuai kebutuhan */

.web-title {
  padding: 0 1rem;
  font-size: 36px;

  & a {
    text-decoration: none;
    color: #365e46;
  }
}

.user-box {
  width: fit-content;
  height: fit-content;
  border-radius: 25px;
  background-color: #eeeced;
  display: inline-flex;
  align-items: center;
  padding-left: 1rem;

  & p {
    margin-right: 1rem;
  }
}

.user-profile {
  background-color: rgb(101, 167, 147);
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-left: 1rem;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: larger;
}

/* NAV SECTION END */

.main-content {
  max-width: var(--screen-width);
  margin: 0 auto;
}

.detail-product-section {
  margin-bottom: 5rem;
  display: flex;
  padding-top: 5vh;
  width: 100%;
  height: fit-content;
}

.photos-main-container {
  width: 50%;
  height: fit-content;
  margin: 0 auto;
  position: sticky;
  top: 4rem;
}

.photo-container {
  box-shadow: var(--shadow);
  display: flex;
  width: 600px;
  height: 500px;
  margin: 0 auto;
  border-radius: 2%;
  background-color: var(--primary);
}

.display-photo-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.display-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /*! margin: ; */
  max-height: 100%; /* Sesuaikan dengan kebutuhan Anda */
}

.icon-container {
  display: flex;
  height: fit-content;
  justify-content: space-evenly;

  margin-top: 10px;
  padding: 10px 0;
  background-color: var(--accent);
  width: 90%;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.icon-container a {
  font-size: xx-large;
  text-decoration: none;
  color: var(--background); /* Ganti dengan warna yang diinginkan */
}

.icon-container a:hover {
  color: var(--background); /* Ganti dengan warna hover yang diinginkan */
}

.photo-collection {
  width: 100px;
  height: 100%;
  overflow: auto;
  padding: 20px 10px;
}

.other-photo {
  display: block;
  margin-bottom: 10px;
}

.other-photo img {
  width: 100%;
  height: auto;
  max-height: 100px; /* Sesuaikan dengan kebutuhan Anda */
}

/* Inline #2 | http://127.0.0.1:5500/detailProduct.html */

.price-desc-section {
  width: 50%;
  height: auto;
}
.price-desc-container {
  box-shadow: var(--shadow);
  width: auto;
  height: 100%;
  background-color: var(--secondary);
  margin: 0 1rem;
  padding: 2rem;
  border-radius: 15px;
  border: 2px solid var(--accent);
}

.title-product {
  width: 100%;
  height: auto;
  padding-bottom: 1rem;
  word-wrap: anywhere;
}

.star-tag-container {
  /* display: inle; */
  /* display: inline-block; */
  width: 400px;
  height: auto;
  display: inline-flex;
  align-items: center;
  margin-bottom: 1rem;
}

.tags-box {
  display: flex;
  padding: 10px;
  background: #a6a6f0;
  border-radius: 10px;
  margin-left: 1rem;
}

.star {
  margin-right: 1rem;
}

.price {
  font-size: xx-large;
  margin-bottom: 10px;
}

.before-discount-price {
  font-weight: lighter;
  color: #00000078;
  text-decoration: line-through;
  margin-bottom: 1rem;
}

/* ======REVIEW SECTION====== */

/* Inline #2 | http://127.0.0.1:5500/detailProduct.html */

.review-title {
  margin: 0 auto;
  width: fit-content;
}

.rating-section {
  width: 85%;
  height: auto;

  margin: 0 auto;
  padding: 1rem;
}

.user-rating-main-container {
  display: flex;
  background: var(--secondary);
  border-radius: 10px;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  box-shadow: var(--shadow);
}

.user-review-container {
  width: 90%;
}

.user-image-container {
  height: 100%;
  width: auto;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.user-image {
  width: 100px;
  height: 100px;
  background: white;
  margin: 10px;
}

.star-user {
  padding: 1rem 0;
}

.profile {
  width: 40px;
  height: 40px;
  background: blue;
  margin-right: 1rem;
  border-radius: 50%;
}

.name-profile-container {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

/* ======REVIEW SECTION END===== */
@media only screen and (max-width: 1024px) {
  /* NAVBAR  */
  .mobile-nav {
    visibility: visible;
    width: 100%;
    background-color: rgb(133, 173, 158);
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
  }

  .nav-links-mobile {
    display: flex;
    width: 100%;
    height: 50%;
    margin: 0 auto;
    justify-content: space-around;

    & a {
      color: inherit;
    }
  }

  .web-title {
    font-size: large;
  }

  .search-box-mobile {
    z-index: 10;
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: rgb(133, 173, 158);
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    /* Efek bayangan untuk kedalaman */
  }

  .search-container {
    margin-right: 1rem;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    width: 50%;
    /* Lebar container pencarian */
  }

  .search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-top: 5px;
  }

  input[type="search"] {
    border: none;
    outline: none;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #333;
  }

  /* Icon pencarian */
  .search-icon {
    font-size: 24px;
    color: #65a793;
    margin-left: 10px;
  }

  .user-profile {
    background-color: rgb(101, 167, 147);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin: 0;
  }

  /* Hover effect pada tombol pencarian */
  .search-button:hover {
    background-color: #ddd;
  }

  .desktop-nav {
    visibility: hidden;
  }

  /* nav search section end */

  /* NAVBAR END */

  /* ====== PHOTOS PRODUCT */

  /* detailProductStyle.css | http://127.0.0.1:5500/css/detailProductStyle.css */

  .photo-container {
    width: 100%;
    flex-direction: column;
    height: auto;
  }
  .photo-collection {
    display: inle;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    width: fit-content;
    height: fit-content;
    max-width: 100%;
    overflow-x: auto;
    margin: 0 auto;
  }
  .other-photo {
    /* width: 386px; */
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 5px;
  }

  .other-photo img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    padding: 5px;
    border-radius: 5px;
  }

  .photos-main-container {
    position: unset;
    margin-top: 5vh;
  }

  .display-photo-container {
    height: auto;
    width: 300px;
    margin: 0 auto;
  }
  .display-photo {
    height: 300px;
  }
  .icon-container {
  }
  .icon-container a {
  }
  .icon-container i {
  }
  .buy-container {
  }
  /* ======PHOTOS PRODUCT END */

  /* =======desc n price product */
  .detail-product-section {
    flex-direction: column;
  }

  .photos-main-container {
    width: 100%;
  }

  .price-desc-section {
    width: 100%;
  }
  .price-desc-container {
    width: auto;
    padding: 1rem;
    margin: 0;
  }
  .title-product {
  }
  .star-tag-container {
    max-width: 100%;
    flex-wrap: wrap;
    margin: 0;
  }
  .tags-box {
    margin: 1rem 0;
  }
  .star {
  }
  .price {
  }
  .before-discount-price {
  }

  .rating-section {
    padding-bottom: 12vh;
    width: 100%;
  }
  .user-rating-main-container {
    flex-direction: column;
  }

  .user-image-container {
    display: flex;
    flex-wrap: wrap;
  }
}
