@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
* {
  scrollbar-width: thin;
  scrollbar-color: #4b756a #dcebe0;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #dcebe0;
}

*::-webkit-scrollbar-track:hover {
  background-color: #eeffef;
}

*::-webkit-scrollbar-track:active {
  background-color: #b6e1cb;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #4b756a;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #83a376;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #75a374;
}
:root {
  --green: rgb(101, 167, 147);
  --primary: rgb(118, 221, 164);
  --secondary: rgb(75, 117, 96);
  --accent: #9cceaf;
  --background: #f5f5f5;
  --text: #101111;
  --card: #dbf7e0;
  --shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

body {
  background-color: var(--background);
  width: 100%;
}
/* CHAT AREA */

.chat-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 999;
  padding: 1rem;
  border: 5px;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;

  background-color: var(--card);

  & .icon {
    font-size: xx-large;
  }
}

.header button {
  float: left;
  padding: 0 1rem;
}

.user-info {
  position: absolute;
  top: 50px;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--card);

  padding: 1rem 0;
  & p {
    font-size: large;
    font-weight: 600;
    width: fit-content;
  }
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 10px;
  margin-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chat-section {
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(13, 19, 11, 0.678);
  backdrop-filter: blur(8px);
  display: none;

  & button,
  input {
    background-color: transparent;
    border: none;
    outline: none;
  }

  & button {
    cursor: pointer;
  }

  & button .icon {
    font-size: x-large;
  }
}
.chat-content {
  margin-bottom: calc(1rem + 40px);
  height: 100%;
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  border: 5px;
}

.input-area {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 5px 0;
  background-color: var(--secondary);
}

.input-area input {
  background-color: white;
  padding: 5px;
  margin-right: 5px;
  width: 100%;
  height: fit-content;
  align-self: center;
  padding: 1rem 0;
  border-radius: 5px;
}

.input-area button {
  cursor: pointer;
  padding: 1rem;
}

/* Text bubble styling */
.message {
  max-width: 70%;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  word-wrap: break-word;
}

.message.user {
  align-self: flex-end;
  background-color: #7be6a1;
  color: #fff;
}

.message.admin {
  align-self: flex-start;
  background-color: #3498db;
  color: #fff;
}

/*CHAT AREA END */

/* NAV SECTION */
.desktop-nav {
  box-shadow: var(--shadow);

  visibility: visible;
  display: flex;
  /* From https://css.glass */
  background: rgba(143, 230, 179, 0.64);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
  border: 1px solid rgba(91, 235, 175, 0.66);
  /* effect */
  height: fit-content;
  width: 100%;
  z-index: 1000;
  padding: 5px 0;
  align-items: center;
  justify-content: space-around;
  position: fixed;

  & h1 {
    font-size: x-large;
  }
}

.nav-links {
  color: var(--text);
  display: flex;
  align-items: center;
  gap: 1rem;

  & a {
    color: var(--secondary-color);
    font-size: x-large;
  }
}

.mobile-nav {
  visibility: hidden;
}

.search-box-mobile {
  visibility: hidden;
  display: none;
}
.back-container {
  display: none;
}
.search-container {
  width: 400px;
  border-radius: 5px;
  overflow: hidden;
}

.search-box {
  display: flex;
  width: 100%;
  background: white;
  padding: 5px;
}

.search-button {
  color: #57735f;
  border: none;
  cursor: pointer;
  object-position: center;
  background-color: white;
  text-align: center;
  margin: 0 10px;
}

.search-icon {
  font-size: 20px; /* Ganti ukuran ikon sesuai kebutuhan */
}

input[type="search"] {
  width: 100%;
  padding: 2pxx;
  border: none;
  outline: none;
  border-bottom: 2px solid rgb(22, 102, 68);
}

/* Styling tambahan sesuai kebutuhan */

/* Styling tambahan sesuai kebutuhan */

.web-title {
  padding: 0 1rem;
  font-size: 36px;

  & a {
    text-decoration: none;
    color: #365e46;
  }
}

.user-box {
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  background-color: #eeeced;
  display: inline-flex;
  align-items: center;
  padding-left: 1rem;

  & p {
    margin-right: 1rem;
  }
}

.user-profile {
  background-color: rgb(101, 167, 147);
  height: 35px;
  width: 35px;
  border-radius: 5px;
  margin-left: 1rem;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: larger;
}

/* NAV SECTION END */

.main-content {
  max-width: var(--screen-width);
  margin: 0 auto;
}

.detail-product-section {
  margin-bottom: 5rem;
  display: flex;
  padding-top: 5vh;
  width: 100%;
  height: fit-content;
}

.photos-main-container {
  width: 50%;
  height: fit-content;
  margin: 0 auto;
  position: sticky;
  top: 4rem;
}

.photo-container {
  box-shadow: var(--shadow);
  display: flex;
  width: 600px;
  height: 500px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: var(--card);
}

.display-photo-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.display-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /*! margin: ; */
  max-height: 100%; /* Sesuaikan dengan kebutuhan Anda */
}

.icon-container {
  display: flex;
  height: fit-content;
  justify-content: space-evenly;

  margin-top: 10px;
  padding: 10px 0;
  background-color: var(--card);
  width: 100%;
  margin: 10px auto;
  border-radius: 5px;
  box-shadow: var(--shadow);
}

.icon-container a {
  font-size: xx-large;
  text-decoration: none;
  color: var(--text);

  & .liked {
    color: #ee4562;
  }
}

.icon-container a:hover {
  color: var(--background); /* Ganti dengan warna hover yang diinginkan */
}

.photo-collection {
  width: 100px;
  height: 100%;
  overflow: auto;
  padding: 20px 10px;
}

.other-photo {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  height: 80px;
  border-radius: 5px;
}

.other-photo img {
  width: 100%;
  height: 100%;

  border-radius: 5px;
  object-fit: cover;
  max-height: 150px; /* Sesuaikan dengan kebutuhan Anda */
}

/* Inline #2 | http://127.0.0.1:5500/detailProduct.html */

.buy-container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-around;
  padding: 1rem;
}

.beli {
  padding: 10px 3rem;
  border: none;
  border-radius: 5px;
  background: var(--secondary);
  color: white;
  font-size: x-large;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
}

button {
  cursor: pointer;
}

#increment {
  background-color: var(--primary);
}

#decrement {
  background-color: rgb(224, 56, 56);
}

#increment,
#decrement {
  padding: 5px 20px;
  margin: 0 1rem;
  font-weight: 700;
  font-size: x-large;
  text-align: center;
  border: none;
  border-radius: 5px;
  color: white;
}

/* Inline #2 | http://127.0.0.1:5500/detailProduct.html */

.price-desc-section {
  width: 50%;
  height: auto;
}

.desc {
  border-bottom: 2px solid var(--secondary);
  margin-bottom: 2rem;
}

.desc-content {
  padding: 0 1rem;
}

.price-desc-container {
  box-shadow: var(--shadow);
  width: auto;
  height: 100%;
  background-color: var(--card);
  margin: 0 1rem;
  padding: 2rem;
  border-radius: 5px;
  border: 2px solid var(--accent);
}

.title-product {
  width: 100%;
  height: auto;
  padding-bottom: 1rem;
  word-wrap: anywhere;
}

.star-tag-container {
  /* display: inle; */
  /* display: inline-block; */
  width: 400px;
  height: auto;
  display: inline-flex;
  align-items: center;
  margin-bottom: 1rem;
}

.tags-box {
  display: flex;
  padding: 10px;
  background: #a6a6f0;
  border-radius: 5px;
  margin-left: 1rem;
}

.star {
  margin-right: 1rem;
  color: #ebc23e;
}

.price {
  font-size: xx-large;
  margin-bottom: 10px;

  & span {
    color: white;
    background-color: var(--primary);
    padding: 10px;
    font-size: medium;
    border-radius: 10px;
    font-weight: bolder;
    margin-left: 1rem;
    text-decoration: none;
  }
}

.before-discount-price {
  font-weight: light;
  color: #797979;
  text-decoration: line-through;
  margin-bottom: 1rem;
}

/* ======REVIEW SECTION====== */

/* Inline #2 | http://127.0.0.1:5500/detailProduct.html */

.review-title {
  margin: 0 auto 2rem;
  width: fit-content;
}

.rating-section {
  width: 95%;
  height: auto;
  display: flex;
  padding-bottom: 5vh;

  margin: 0 auto;
  padding: 1rem;
}

.user-review-wrapper {
  width: 100%;
}

.user-rating-main-container {
  display: flex;
  background: var(--card);
  border-radius: 5px;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  box-shadow: var(--shadow);
}

.user-review-container {
  width: 90%;
}

.user-image-container {
  height: 100%;
  width: auto;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.user-image {
  width: 100px;
  height: 100px;
  background: white;
  margin: 10px;
  border-radius: 5px;
  border: 2px solid var(--accent);
}

.star-user {
  padding: 1rem 0;
  color: #ebc23e;
}

.profile {
  width: 40px;
  height: 40px;
  background: blue;
  margin-right: 1rem;
  border-radius: 5px;
}

.name-profile-container {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

.filter-container {
  padding: 10px;
  width: 200px;
  gap: 1rem;
  margin-right: 1rem;
  position: sticky;
  height: fit-content;
  top: 55px;
  background-color: var(--secondary);
  backdrop-filter: blur(10px);
  border-radius: 5px;

  & button {
    padding: 1rem;
    outline: none;

    width: 100%;

    font-size: large;
    border: none;
    border-radius: 5px;
    height: fit-content;
    border: 1px solid var(--accent);
  }
}

.rating-icon {
  color: #ebc23e;
}

.filter-button {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-upload > input {
  display: none;
}

.image-upload .icon {
  font-size: xx-large;
  cursor: pointer;
  color: var(--secondary);
}

.input-container {
  display: flex;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}

.user-input-field {
  width: 100%;
  height: 50px;
  padding: 5px;
  border: none;
  outline: none;
  resize: none;
  border-radius: 5px;
}

.input-review {
  display: block;
  justify-content: center;
  width: 100%;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  background-color: var(--secondary);
}

.submit-review {
  padding: 0 1rem;
  border: none;
  outline: none;

  background-color: var(--primary);
  font-weight: bold;
  border-radius: 5px;
  margin-left: 1rem;
}

.go-up {
  padding: 1rem;
  background-color: var(--secondary);
  border-radius: 25px;
  position: fixed;
  bottom: 5vh;
  right: 1rem;
  height: fit-content;

  & .icon {
    font-size: xx-large;
    color: white;
  }
}
/* ======REVIEW SECTION END===== */
@media only screen and (max-width: 1024px) {
  /* NAVBAR  */
  .mobile-nav {
    visibility: visible;
    width: 100%;
    background-color: var(--secondary);
    position: fixed;
    bottom: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
  }

  .nav-links-mobile {
    display: flex;
    width: 100%;
    height: 50%;
    margin: 0 auto;
    justify-content: space-around;

    & a {
      color: inherit;
    }
  }

  .web-title {
    font-size: large;
  }

  .search-box-mobile {
    z-index: 10;
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: rgb(133, 173, 158);
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    /* Efek bayangan untuk kedalaman */
  }

  .search-container {
    margin-right: 1rem;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    width: 50%;
    /* Lebar container pencarian */
  }

  .search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-top: 5px;
  }

  input[type="search"] {
    border: none;
    outline: none;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #333;
  }

  /* Icon pencarian */
  .search-icon {
    font-size: 24px;
    color: #65a793;
    margin-left: 10px;
  }

  .user-profile {
    background-color: rgb(101, 167, 147);
    height: 3rem;
    width: 3rem;
    border-radius: 5px;
    margin: 0;
  }

  /* Hover effect pada tombol pencarian */
  .search-button:hover {
    background-color: #ddd;
  }

  .desktop-nav {
    visibility: hidden;
  }

  .back-container {
    display: initial;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 1rem;
    position: fixed;
    padding: 1rem;
    width: 100%;
    height: 50px;
    background-color: var(--card);
    box-shadow: var(--shadow);
    font-size: x-large;
    font-weight: bolder;

    .back-button {
      font-size: x-large;
      font-weight: bolder;
    }

    & .icon {
      font-size: xx-large;
      align-self: center;
      margin-top: 5px;
      font-weight: bolder;
      color: var(--text);
    }
  }

  /* navbar mobile end */
  .photo-container {
    width: 100%;
    flex-direction: column;
    height: auto;
    background-color: transparent;
  }
  .photo-collection {
    display: inle;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    width: fit-content;
    height: fit-content;
    max-width: 100%;
    overflow-x: auto;
    margin: 0 auto;
    padding: 1rem 2rem;
    background-color: var(--card);
    border: 2px solid var(--accent);
    border-radius: 5px;
  }
  .other-photo {
    /* width: 386px; */
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 5px;
  }

  .other-photo img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    padding: 5px;
    border-radius: 5px;
  }

  .photos-main-container {
    position: unset;
    margin-top: 5vh;
    background-color: rgba(255, 255, 255, 0);
  }

  .display-photo-container {
    height: auto;
    width: 350px;
    max-width: 250px;
    margin: 0 auto;
  }
  .display-photo {
    height: 300px;
    padding: 0;
    border-radius: 5px;
    padding: 1rem;
    background-color: var(--card);
    border: 2px solid var(--accent);

    object-position: center;
  }

  .buy-container {
    width: 100%;
    align-items: center;
    top: 10rem;

    & .beli {
      padding: 1rem 3rem;
      font-size: large;
    }

    & #increment,
    #decrement {
      padding: 5px 15px;
    }
  }
  /* ======PHOTOS PRODUCT END */

  /* =======desc n price product */
  .detail-product-section {
    flex-direction: column;
    padding-top: 1rem;
  }

  .photos-main-container {
    width: 100%;
  }

  .price-desc-section {
    width: 100%;
  }
  .price-desc-container {
    width: auto;
    padding: 1rem;
    margin: 0;
  }

  .star-tag-container {
    max-width: 100%;
    flex-wrap: wrap;
    margin: 0;
  }
  .tags-box {
    margin: 1rem 0;
  }

  .rating-section {
    padding-bottom: 12vh;
    flex-direction: column;
    width: 100%;
    padding: 0;
    padding-bottom: 5vh;
  }
  .go-up {
    bottom: 5vh;
  }
  .filter-container {
    justify-content: space-between;
    display: flex;
    padding: 1rem;
    top: 50px;
    width: 100%;

    align-items: center;
    max-width: 100%;
    overflow-x: auto;
    & button {
      white-space: nowrap;
      width: fit-content;
      height: fit-content;
      font-size: medium;
      padding: 10px;

      margin: 0;
    }
    margin: 0;
  }
  .filter-button {
    flex-direction: row;
    width: fit-content;
    gap: 1rem;
  }
  .user-review-wrapper {
    padding: 1rem;
  }
  .user-rating-main-container {
    flex-direction: column;
  }

  .user-image-container {
    display: flex;
    flex-wrap: wrap;
  }
  /* CHAT SECTION */
  .chat-section {
    z-index: 1;
  }
  .chat-box {
    padding: 0;
    width: 85%;
    height: 100dvh;
    transform: scale() translate(-85%, 10%);
    top: 50%;
    z-index: 100;
    position: fixed; /* Gunakan fixed agar tetap di layar */ /* Posisikan di tengah horizontal */
  }
  .chat-content-container {
    max-height: 100%;
    padding: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .chat-section {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  .chat-box {
    width: 100%;
    height: 100dvh;
    transform: scale() translate(-85%, 10%);
    top: 50%;
    z-index: 1000;
    position: fixed; /* Gunakan fixed agar tetap di layar */ /* Posisikan di tengah horizontal */
  }
  .chat-content-container {
    max-height: 100%;
  }
}
