@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --background: rgb(241, 247, 243);
  --primary: #bfe8c9;
  --primary-opacity: rgba(87, 96, 90, 0.5);

  --secondary: #93d297;
  --secondary-opacity: rgba(147, 210, 151, 0.25);

  --accent: #358265;
  --accent-opacity: rgba(53, 130, 101, 0.25);

  --background: #f2f8f7;
  --background-opacity: rgba(242, 248, 247, 0.5);

  --text: #050a06;
  --text-opacity: rgba(5, 10, 6, 0.5);

  --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --shadow2: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
* {
  scrollbar-width: thin;
  scrollbar-color: #4b756a #dcebe0;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
*::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #dcebe0;
}

*::-webkit-scrollbar-track:hover {
  background-color: #eeffef;
}

*::-webkit-scrollbar-track:active {
  background-color: #b6e1cb;
}

*::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #4b756a;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #83a376;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #75a374;
}

body {
  background-color: var(--background);
  width: 100%;
}

.text a {
  text-decoration: none;
  color: #333;
  list-style: none;
}

.box {
  border-radius: 10px;
}

.main-content {
  max-width: var(--screen-width);
  margin: 0 auto;
}

.desktop-nav {
  box-shadow: var(--shadow);
  border: 2px solid rgb(153, 201, 185);
  visibility: visible;
  display: flex;
  background-color: rgba(184, 231, 213, 0.769);
  backdrop-filter: blur(10px);
  height: fit-content;
  width: 100%;
  z-index: 1000;
  padding: 5px 0;
  align-items: center;
  justify-content: space-around;
  position: fixed;

  & h1 {
    font-size: x-large;
  }
}

.nav-links {
  font-size: x-large;
  color: var(--text);
}

.mobile-nav {
  visibility: hidden;
}

.search-box-mobile {
  visibility: hidden;
  display: none;
}

.search-container {
  width: 400px;
  border-radius: 15px;
  overflow: hidden;
}

.search-box {
  display: flex;
  width: 100%;
}

.search-button {
  color: black;
  border: none;
  padding: 3px 20px;

  cursor: pointer;
}

.search-icon {
  font-size: 20px; /* Ganti ukuran ikon sesuai kebutuhan */
}

input[type="search"] {
  width: 100%;
  padding: 2pxx;
  border: none;
  outline: none;
}

/* Styling tambahan sesuai kebutuhan */

/* Styling tambahan sesuai kebutuhan */

.web-title {
  padding: 0 1rem;
  font-size: 36px;
}

.user-box {
  width: fit-content;
  height: fit-content;
  border-radius: 25px;
  background-color: #eeeced;
  display: inline-flex;
  align-items: center;
  padding-left: 1rem;

  & p {
    margin-right: 1rem;
  }
}

.user-profile {
  background-color: red;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-left: 1rem;
}

/* landing page section start */

/* main style */

/* landing page section end  */

/*  =====LANDING PAGE KEDUA */

.landing-page {
  background-color: rgb(232, 239, 237);
  height: 600px;
  box-shadow: var(--shadow);
  display: flex;
  width: 100%;
  margin: 0 auto 15vh;
  margin-top: 6vh;
  padding: 1rem 0;
  border-radius: 15px;
}

.container1 {
  /* background-image: url(../image/blurrygrd1.svg); */
  background-image: url(../image/blurrygrd3.svg);
  background-position: center;
  width: 50%;
  border-radius: 10px;
  box-shadow: var(--shadow);
  margin: 0 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.slogan {
  font-weight: normal;
  width: 500px;
  word-wrap: break-word;
}

.landing-page-title {
  font-size: 50px;
  font-weight: 600;
}

.web-title-container {
  margin: auto;
}

.stats-container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 150px;
  padding: 1rem;
  background: #e2ffdf2e;
  border-radius: 50px 50px 0 0;
  backdrop-filter: blur(5px);
}

/* Element | http://127.0.0.1:5500/index.html */

/* Inline #2 | http://127.0.0.1:5500/index.html */

.container2 {
  box-shadow: var(--shadow2);
  width: 50%;
  height: 100%;
  margin: 0 1rem;
  border-radius: 10px;
  background-image: url(../image/landingbg.jpg);
  background-size: cover;
  background-position-x: right;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.title-landing-page {
  font-size: 62px;
}

.stats-box {
  background-color: #cdeee3c9;
  backdrop-filter: blur(5px);
  box-shadow: var(--shadow);
  width: 135px;
}

.stats-box {
  /* display: fe; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.login-container {
  margin-top: 1rem;
  /* display: flex; */
  justify-content: center;
  width: 100%;
  height: fit-content;
}

.login-container button {
  height: 50px;
  width: 200px;
  /* margin: 0 1rem; */
  outline: none;

  border-radius: 50px;
  font-weight: bolder;
  font-family: inherit;
}

.login {
  color: white;
  font-size: larger;
  background: #9ccec2;
  border: 2px solid hsl(166, 34%, 71%);
  border-radius: 20px;
}

.login,
.signup {
  box-shadow: var(--shadow2);
}

.signup {
  background: #6dbd9d;
  border: none;
  color: white;
}

.socmed-box {
  font-size: xx-large;
  width: fit-content;
  padding: 5px 0;

  color: inherit;
  & a {
    color: inherit;
  }
}

.temukan {
  width: fit-content;
}

.temukan,
.socmed-box {
  width: 80%;
  margin: 0 auto;
}

/* ======LANDING PAGE KEDUA END */

/* ====OUR PRODUCT SECTION */

/* Inline #2 | http://127.0.0.1:5500/index.html */

.our-product-section {
  height: 600px;
  width: 95%;
  margin: auto;
  display: flex;
  border: 2px solid black;
  padding: 1rem;
  border-radius: 15px;
}

.our-product-container1 {
  height: auto;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 10px;
}

.our-product-container2 {
  height: auto;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../image/daunbg.webp);
  background-color: rgba(0, 0, 0) !important;
  background-size: cover;
  background-position: center;
  box-shadow: var(--shadow);

  & h1 {
    font-size: x-large;
    font-weight: 500;
    color: white;
    font-size: xx-large;
  }
}

.our-product-container3 {
  height: auto;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 10px;
}

.image-content {
  height: 49%;
  border-radius: 15px;
  box-shadow: var(--shadow);

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
}

/* =======OUR PRODUCT SECTON END */

/* =====MITRA SECTION */

.carousel-section {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.carousel-container {
  width: 90%;
  overflow: hidden;
  height: 100%;
}

.carousel-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
  text-align: center;
  line-height: 600px;
  font-size: 24px;
  color: #fff;
  display: flex;
  gap: 10px;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.carousel-button.next {
  right: 10px;
}

.carousel-button.prev {
  left: 10px;
}

/* Item colors for demonstration purposes */
.item1 {
  background-color: #3498db;
}
.item2 {
  background-color: #2ecc71;
}
.item3 {
  background-color: #e74c3c;
}
.item4 {
  background-color: #f39c12;
}
.item5 {
  background-color: #9b59b6;
}

.container {
  background-color: red;
  height: 100%;
  width: 50%;
}

/* =====MITRA SECTION END */

/* discount page  */
.discount-section {
  margin: 15vh auto 15vh;
}

.discount-main-container {
  width: 95%;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  color: #333;
  font-size: 24px;
  margin: 20px 0;
}

.discount-header-container {
  margin: px;
  max-width: 100%;
  overflow-x: scroll;
}

.discount-box-container {
  display: inline-flex;
  padding: 10px;
}

.discount-box {
  flex: 0 0 auto;
  width: 360px;
  height: 150px;
  margin-right: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.discount-product-section {
  height: fit-content;
  max-width: 100%;
}

.discount-product-list-container {
  max-width: 100vw;
  overflow-x: auto;
  display: inline-flex;
}

.discount-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 330px;
  background-image: url(../image/discount-title2.webp);
  background-color: rgba(0, 0, 0, 0.349);
  background-position: center;
  background-size: cover;
  margin-right: 20px;

  & h1 {
    font-weight: 800;
    color: #2b3b25;
    margin: 1rem; /* Menghilangkan margin bawaan dari elemen h1 */
    text-align: center;
    font-size: xxx-large;
    border: 2px solid black;
  }
}

.discount-title-mobile {
  width: 200px;
  height: 100%;
  display: none;

  & img {
    width: 200px;
    height: 250px;
    object-fit: cover;
  }

  & h1 {
    font-family: "Montserrat";
    display: none;
  }
}

.discount-product-list {
  padding-right: 5vw;
  padding: 2rem 0;
  cursor: grab;
  max-width: 72vw;
  align-items: center;
  display: inline-flex;
  border-radius: 10px;
  gap: 10px;
  /* Memberikan sudut melengkung pada daftar produk */
  overflow: auto;
  /* Menghindari border-radius yang terlihat tidak rapi saat di-scroll */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Bayangan untuk efek ketinggian */
}

.product-card {
  /* width: 15vw; */
  width: 200px;
  height: 300px;
  background-color: rgb(219, 247, 224);
  /* Warna latar belakang untuk kartu produk */
  border: 1px solid #ddd;
  /* Garis tepi kartu produk */
  border-radius: 8px;
  /* Memberikan sudut melengkung pada kartu produk */
  padding: 10px;
  /* Padding untuk memberikan ruang di sekitar konten dalam kartu */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Bayangan untuk efek ketinggian */
}

.product-card-link-container {
  justify-self: center;
  width: fit-content;
  text-decoration: none;
  justify-self: center;
  color: inherit;
}

.product-image {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
  align-self: center;
  object-position: center;
}

.product-title {
  width: 100%;
  height: fit-content;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  text-overflow: ellipsis;
}

.product-price {
  font-weight: 800;
  font-size: x-large;
  margin-top: 10px;
}

.before-discount-price {
  font-size: smaller;
  color: gray;
  text-decoration: line-through;
}

.tag {
  padding: 5px;
  border-radius: 5px;
  background-color: #9ccec2;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  text-align: center;
}
/* Gaya untuk judul "Flash sale" */
h2 {
  color: #333;
  /* Warna teks judul */
  font-size: 24px;
  /* Ukuran teks judul */
  margin-bottom: 15px;
  /* Ruang di bawah judul */
}

/* PRODUCT CARD KEDUA  */

.card2 {
  /* width: 15vw; */
  width: 350px;
  height: 500px;
  background-color: rgb(214, 238, 223);
  /* Warna latar belakang untuk kartu produk */
  border: 1px solid #ddd;
  /* Garis tepi kartu produk */
  border-radius: 8px;
  /* Memberikan sudut melengkung pada kartu produk */
  padding: 10px;
  /* Padding untuk memberikan ruang di sekitar konten dalam kartu */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Bayangan untuk efek ketinggian */
  text-align: center;
  position: relative;
  z-index: -1;
}

.star {
  font-size: small;
  margin-top: 10px;
  color: rgb(230, 230, 12);
  text-shadow: var(--shadow);
}
/* PRODUCT CARD KEDUA END  */
/* discount page end */

.category-section {
  width: 100%;
  height: auto;
  margin-top: 5vh;
}

.main-container-category {
  width: 90vw;
  height: auto;
  margin: 0 auto;
  background-color: red;
}

.header-category {
  background-color: gray;
  width: 80%;
  margin: 0 auto;

  & h1 {
    width: fit-content;
    height: auto;
    margin: auto auto;
    color: white;
    font-size: xx-large;
  }
}

.header-image {
  width: 100%;
  background-color: green;
  height: 100px;
  display: flex;
  align-items: center;
}

li {
  list-style: none;
}

/* atur padding untuk section utama nav dan product card list  */
.nav-product-category-container {
  margin: 0 2rem;
}

.category-nav-container {
  width: fit-content;
  margin: 0 auto;
  overflow-x: auto;
  max-width: 100vw;
}

.category-nav-links {
  margin: 2rem 0;
  padding: 10px;
  white-space: nowrap;
  display: block !important;
  flex-wrap: nowrap;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.category-nav-links li {
  display: inline-block;
  margin: 0 1rem;
  font-size: larger;
}

.category-product-container {
  margin-top: 50px;
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 100px 10px;
  padding-bottom: 10vh;
}

/* for mobile */
@media only screen and (max-width: 1024px) {
  * {
    margin: 0;
    padding: 0;
  }

  body {
    max-width: 100vw;
  }

  .mobile-nav {
    visibility: visible;
    width: 100%;
    background-color: aquamarine;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
  }

  .nav-links-mobile {
    display: flex;
    width: 100%;
    height: 50%;
    margin: 0 auto;
    justify-content: space-around;
  }

  .web-title {
    font-size: large;
  }

  .search-box-mobile {
    z-index: 10;
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: rebeccapurple;
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    /* Efek bayangan untuk kedalaman */
  }

  .search-container {
    margin-right: 1rem;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    width: 50%;
    /* Lebar container pencarian */
  }

  .search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  input[type="search"] {
    border: none;
    outline: none;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #333;
  }

  /* Icon pencarian */
  .search-icon {
    font-size: 24px;
    color: rebeccapurple;
    margin-left: 10px;
  }

  .user-profile {
    background-color: red;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin: 0;
  }

  /* Hover effect pada tombol pencarian */
  .search-button:hover {
    background-color: #ddd;
  }

  .desktop-nav {
    visibility: hidden;
  }

  /* nav search section end */

  /* landing page section */
  .landing-page {
    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column-reverse;
    height: fit-content;
  }

  .container1 {
    width: 100%;
    height: 50%;
    margin: 0;
  }

  .landing-page-title {
    text-align: center;
    font-size: x-large;
    font-weight: 600;
  }

  .slogan {
    margin: 0 auto;
    text-align: center;
    font-size: small;
    width: 60%;
    height: fit-content;
    word-wrap: break-word;
  }

  .web-title-container {
    margin: 2rem auto;
    width: fit-content;
  }

  .container2 {
    width: 100%;
    height: 20vh;
    margin: 0;

    margin-top: 6vh;
    background-position-y: center;
  }

  .socmed-box {
    margin: 0 auto;
    width: fit-content;
    font-size: xx-large;
    float: unset;
  }

  .temukan {
    text-align: center;
    margin: 0 auto;
    float: unset;
  }

  .login-container {
    margin: 0 auto;
    width: fit-content;
  }

  /* ======= OUR PRODUCT SECTION */

  .our-product-section {
    flex-direction: column;
    justify-content: center;
    height: 79vh;
  }

  .our-product-container1 {
    flex-direction: row;
    height: 30%;
    width: 100%;
    margin: 0;
  }

  .our-product-container2 {
    height: 200px;
    width: 100%;
    margin: 10px 0;
  }

  .our-product-container3 {
    flex-direction: row;
    height: 30%;
    width: 100%;
    margin: 0;
  }
  .image-content {
    width: 50%;
    height: 100%;
  }
  /* ========OUR PRODUCT SECTION END  */

  /* ========MITRA SECTION */

  .carousel-item {
    display: flex;
    flex-direction: column;
  }

  .container {
    width: 100%;
    height: 50%;
  }

  .carousel-section {
    width: 70%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  /* ========MITRA SECTION END */
  /* discount page  */

  .discount-main-container {
    width: 100vw;
  }

  .discount-box {
    width: 300px;
  }

  .discount-product-section {
    height: 400px;
    max-width: 100vw;
    /* Warna latar belakang untuk bagian diskon */
  }

  .discount-product-list-container {
    overflow-x: auto;
    display: flex;
  }

  .discount-title {
    width: 500px;
    background-image: url(../image/discount-title.webp);

    height: 40vh;
    margin-right: 0;
    display: none;
  }

  .discount-title-mobile {
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    font-family: "Montserrat";
    background-size: cover;
    background-image: url(../image/discount-title2.webp);

    background-position: center;

    & h1 {
      font-family: "Montserrat";
      display: initial;
      font-weight: 800;
      padding: 1rem;
    }
  }

  .discount-product-list {
    max-width: 100%;
    align-items: center;
    display: flex;
    border-radius: 10px;
    word-wrap: break-word;
    /* Memberikan sudut melengkung pada daftar produk */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Bayangan untuk efek ketinggian */
  }

  /* discoutn page end */

  /* category page */
  .category-product-container {
    display: grid;
    gap: 50px 0;
  }

  .nav-product-category-container {
    margin: 0 10px;
  }

  .product-card {
    width: 180px;
    height: 260px;
    align-self: center;
    justify-self: center;
    margin: 0;
  }
  .card2 {
    height: 470px;
    align-self: center;
    justify-self: center;
    margin: 0;
  }

  .product-price {
    font-size: x-large;
    margin: 5px 0;
  }

  .product-image {
    height: 290px;
  }
  .star {
    margin-top: 10px;
    width: 100%;
    text-align: center;
    font-size: large;
  }
  .product-title {
    font-size: large;
    font-weight: 600;
  }
}

@media only screen and (max-width: 500px) {
  .landing-page {
    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column-reverse;
    height: fit-content;
  }

  .container1 {
    width: 100%;
    height: 50%;
  }

  .landing-page-title {
    text-align: center;
    font-size: x-large;
    font-weight: 600;
  }

  .slogan {
    margin: 0 auto;
    text-align: center;
    font-size: small;
    width: 90%;
    height: fit-content;
    word-wrap: break-word;
  }

  .container2 {
    width: 100%;
    height: 30vh;
  }

  .card2 {
    width: 90%;
    margin: auto;
    align-self: center;
  }

  .category-product-container {
    display: flex;
    flex-direction: column;
    gap: 50px 0;
    align-items: center;
  }
}
